In [1]:
import pandas as pd
import en_core_web_sm
import re


def cleanTwitter(sentences):
    for i, comment in enumerate(comments):
        comment = re.sub("@", "", comment)
        comments[i] = comment
    return comments

nlp = en_core_web_sm.load()

comments = list(pd.read_csv("./CommentsMarch2018.csv").sample(100000)["commentBody"])#["commentBody"]["text"]
comments = cleanTwitter(comments)

C:\Users\Admin\AppData\Local\Temp\ipykernel_1640\2103479477.py:14: DtypeWarning: Columns (14,15,31) have mixed types. Specify dtype option on import or set low_memory=False.
  comments = list(pd.read_csv("./CommentsMarch2018.csv").sample(100000)["commentBody"])#["commentBody"]["text"]

In [2]:
newCommentsNLP = []
lengthDataSet = len(comments)
percentage = -1


for i, sentence in enumerate(comments):
    newCommentsNLP.append(nlp(sentence))
    percentageNew = round(i / lengthDataSet,2) * 100
    if percentageNew != percentage:
        percentage = percentageNew
        print(round(percentage,1), "%")
        
            
    
df_entity = pd.DataFrame(columns=['index','word','range','label_name'])

wordList = []
startRangeList = []
endRangeList = []
labelNameList = []
indexList = []



for  i, sentence in enumerate(newCommentsNLP):
    for entity in sentence.ents:
        if entity.label_ == "PERSON":
            wordList.append(entity.text)
            startRangeList.append(entity.start_char)
            endRangeList.append(entity.end_char)
            labelNameList.append(entity.label_)
            indexList.append(i)

            
rangeList = []

for start, end in zip(startRangeList, endRangeList):
    tempList = []
    tempList.append(start)
    tempList.append(end)
    rangeList.append(tempList)
    
df_entity["index"] = indexList
df_entity["word"] = wordList
df_entity["range"] = rangeList
df_entity["label_name"] = labelNameList

0.0 %
1.0 %
2.0 %
3.0 %
4.0 %
5.0 %
6.0 %
7.0 %
8.0 %
9.0 %
10.0 %
11.0 %
12.0 %
13.0 %
14.0 %
15.0 %
16.0 %
17.0 %
18.0 %
19.0 %
20.0 %
21.0 %
22.0 %
23.0 %
24.0 %
25.0 %
26.0 %
27.0 %
28.0 %
29.0 %
30.0 %
31.0 %
32.0 %
33.0 %
34.0 %
35.0 %
36.0 %
37.0 %
38.0 %
39.0 %
40.0 %
41.0 %
42.0 %
43.0 %
44.0 %
45.0 %
46.0 %
47.0 %
48.0 %
49.0 %
50.0 %
51.0 %
52.0 %
53.0 %
54.0 %
55.0 %
56.0 %
57.0 %
58.0 %
59.0 %
60.0 %
61.0 %
62.0 %
63.0 %
64.0 %
65.0 %
66.0 %
67.0 %
68.0 %
69.0 %
70.0 %
71.0 %
72.0 %
73.0 %
74.0 %
75.0 %
76.0 %
77.0 %
78.0 %
79.0 %
80.0 %
81.0 %
82.0 %
83.0 %
84.0 %
85.0 %
86.0 %
87.0 %
88.0 %
89.0 %
90.0 %
91.0 %
92.0 %
93.0 %
94.0 %
95.0 %
96.0 %
97.0 %
98.0 %
99.0 %
100.0 %

       index                word       range label_name
81865  99982                 Kim  [133, 136]     PERSON
81866  99985  Peninsula Papagayo   [89, 107]     PERSON
81867  99986               Trump    [46, 51]     PERSON
81868  99991         John Oliver     [9, 20]     PERSON
81869  99992               Trump    [28, 33]     PERSON
81870  99992             Jackson  [115, 122]     PERSON
81871  99993              Brexit    [74, 80]     PERSON
81872  99993              Brexit  [410, 416]     PERSON
81873  99994             Mueller  [101, 108]     PERSON
81874  99998            Gallilee  [365, 373]     PERSON