In [10]:
import pandas as pd

data = pd.read_csv("twitter_labeled_dataframe.csv")
comments = data["sentence"]

In [11]:
import en_core_web_sm
nlp = en_core_web_sm.load()
import pickle

#with open("./models/custom_model_twitter.pickel", "rb") as f:
#    nlp = pickle.load(f)
    
newCommentsNLP = []
lengthDataSet = len(comments)
percentage = -1


for i, sentence in enumerate(comments):
    if not isinstance(sentence, str):
        sentence = ""
    newCommentsNLP.append(nlp(sentence))
    percentageNew = round(i / lengthDataSet,2) * 100
    if percentageNew != percentage:
        percentage = percentageNew
        print(round(percentage,1), "%")

            
    
df_entity = pd.DataFrame(columns=['index','word','range','label_name'])

wordList = []
startRangeList = []
endRangeList = []
labelNameList = []
indexList = []



for  i, sentence in enumerate(newCommentsNLP):
    for entity in sentence.ents:
        if entity.label_ == "PERSON": #Spacy (PERSON), custom (PER_CUSTOM)
            wordList.append(entity.text)
            startRangeList.append(entity.start_char)
            endRangeList.append(entity.end_char)
            labelNameList.append(entity.label_)
            indexList.append(i)

            
rangeList = []

for start, end in zip(startRangeList, endRangeList):
    tempList = []
    tempList.append(start)
    tempList.append(end)
    rangeList.append(tempList)
    
df_entity["index"] = indexList
df_entity["word"] = wordList
df_entity["range"] = rangeList
df_entity["label_name"] = labelNameList

0.0 %
1.0 %
2.0 %
3.0 %
4.0 %
5.0 %
6.0 %
7.0 %
8.0 %
9.0 %
10.0 %
11.0 %
12.0 %
13.0 %
14.0 %
15.0 %
16.0 %
17.0 %
18.0 %
19.0 %
20.0 %
21.0 %
22.0 %
23.0 %
24.0 %
25.0 %
26.0 %
27.0 %
28.0 %
29.0 %
30.0 %
31.0 %
32.0 %
33.0 %
34.0 %
35.0 %
36.0 %
37.0 %
38.0 %
39.0 %
40.0 %
41.0 %
42.0 %
43.0 %
44.0 %
45.0 %
46.0 %
47.0 %
48.0 %
49.0 %
50.0 %
51.0 %
52.0 %
53.0 %
54.0 %
55.0 %
56.0 %
57.0 %
58.0 %
59.0 %
60.0 %
61.0 %
62.0 %
63.0 %
64.0 %
65.0 %
66.0 %
67.0 %
68.0 %
69.0 %
70.0 %
71.0 %
72.0 %
73.0 %
74.0 %
75.0 %
76.0 %
77.0 %
78.0 %
79.0 %
80.0 %
81.0 %
82.0 %
83.0 %
84.0 %
85.0 %
86.0 %
87.0 %
88.0 %
89.0 %
90.0 %
91.0 %
92.0 %
93.0 %
94.0 %
95.0 %
96.0 %
97.0 %
98.0 %
99.0 %
100.0 %

In [12]:
df_entity

     index        word       range label_name
0       13      andrew      [3, 9]     PERSON
1       16  nora culik     [0, 10]     PERSON
2       21      alyson    [11, 17]     PERSON
3       45       chris  [119, 124]     PERSON
4       58  jerry - pm    [71, 81]     PERSON
..     ...         ...         ...        ...
111    960   con ellos    [19, 28]     PERSON
112    960      que lo    [39, 45]     PERSON
113    968  nos consta    [60, 70]     PERSON
114    973   livre qui   [99, 108]     PERSON
115    999         max    [81, 84]     PERSON

[116 rows x 4 columns]

In [13]:
import numpy as np
labeledSentenes = data[data["ranges"].isna() == False]

In [122]:
result = []
i = 0
manualLabels = labeledSentenes["labels"]

for index, spacyLabel in zip(df_entity["index"], df_entity["word"]):
    if (labeledSentenes["Unnamed: 0"] == index).any():
        tempLabel = manualLabels[manualLabels.index == index].item()
        tempList = []
        tempList = tempLabel.split(", ")
        for label in tempList:
            if label == spacyLabel:
                result.append(True)
                print(spacyLabel)
                print(index)
                print("\n")
            else:
                result.append(False)
    else:
        result.append(False)
        
        #print(spacyLabel)
        #print(index)
        #print(df_entity["range"][df_entity["index"] == index])
        #print("\n")
    i += 1

josh
9


lindsey
10


andrew
13


josh
13


nora culik
16


sneha
18


alyson
21


leia
41


julie
45


chris
45


naomi
54


simon
55


kirill
58


jerry
58


debbie
83


chad
87


khairul
90


karthik
98


jenna
104


emma
116


stefan
124


chris
127


rachel
129


catriona
141


shawn
147


jordan
151


bill
155


dan
165


andrew
172


danny
172


peter
178


matt
182


bobby
191


clarissa
201


liam
213


beth
213


pradnya
219


lewis
226


arielle
229


tuwaine
247


jonas
264


yaser
288


carlos
302


derrick
307


josh
327


bridget
329


tom
333


kashmiri
345


anthony
345


becky
348


pat
349


nichola
351


alan
360


lucy
400


david
401


charlotte
409


jeff
423


karl
428


larry
435


roopa
435


richard
438


adam
438


angel
439


austin
448


aaron
457


chris
461


bethany
471


colleen
473


ken
484


vadim
486


ian
501


oliver
515


natalie
521


vickie
527


john
531


liam
533


jordan
544


igor
546


alice
558


lynsey
575


nick
575


brent
580


eric
581


mariya
594


paul
597


anthony
597


phil
609


philip
653


shane
656


jeremy
661


brian
662


bilal
675


andy
692


shariel
692


angel
697


tim
704


brogan
707


janay
720


sarah
726


jeff
756


emma
757


kevin
760


matt
768


tina
771


nick
794


john
795


danielle
802


jordan
805


brandon
821


mujdin
829


martina
832


andrew
832


joe
837


santosh
846


keegan
848


dallas
849


dante
868


martin
880


jerry
883


ali
901


samantha
914


michael
928


chunhua
939


jeff
942


chloe
990

In [117]:
right = 0
for prediction in result:
    if(prediction):
        right += 1

In [118]:
comments[934]

'can i not pre - schedule a ride in the bentonville, ar area ahead of my trip?'

In [121]:
len(result)

231